NUXT_PUBLIC_APP_VERSION=
NUXT_PUBLIC_MATCHES_URL=
NUXT_PUBLIC_INSTANT_URL=
NUXT_PUBLIC_AUTH_URL=
NUXT_PUBLIC_BET_URL=
NUXT_PUBLIC_CASINO_URL=
NUXT_PUBLIC_CMS_URL=
NUXT_PUBLIC_VIRTUAL_URL=
NUXT_PUBLIC_VIRTUAL_LEAGUES_URL=
NUXT_PUBLIC_KIRON_LITE_URL=
NUXT_PUBLIC_AFFILIATE_URL=
NUXT_PUBLIC_GENIUS_GAME_TRACKER_URL=
NUXT_PUBLIC_ONESIGNAL_APP_ID=
NUXT_PUBLIC_DEPOSIT_TAX=
NUXT_PUBLIC_WITHDRAW_TAX=
NUXT_PUBLIC_AVIATOR_GAME_ID=
NUXT_PUBLIC_AVIATRIX_GAME_ID=
NUXT_PUBLIC_FOOTBALLX_GAME_ID=
NUXT_PUBLIC_HAKI_LEAGUE_GAME_ID=
NUXT_PUBLIC_HAKI_TURBO_GAME_ID=
NUXT_PUBLIC_KIRON_JACKPOT_GAME_ID=
NUXT_PUBLIC_JETX_GAME_ID=
NUXT_PUBLIC_VIRTUAL_GAME_ID=
NUXT_PUBLIC_CRASH_ROYALE_GAME_ID=
NUXT_PUBLIC_VIRTUAL_SPIN_GAME_ID=
NUXT_PUBLIC_MAESTRO_GAME_ID=
NUXT_PUBLIC_PAYBILL_NO=
NUXT_PUBLIC_AFFILIATE_API_URL=
NUXT_PUBLIC_TENANT_CODE=
NUXT_PUBLIC_PROPELLER_AID=
NUXT_PUBLIC_PROPELLER_TID=
NUXT_PUBLIC_LIVE_POLL_INTERVAL=
NUXT_PUBLIC_USSD_ACTIVATE_ACCOUNT=
