VITE_APP_VERSION=
VITE_MATCHES_URL=
VITE_INSTANT_URL=
VITE_AUTH_URL=
VITE_BET_URL=
VITE_CASINO_URL=
VITE_CMS_URL=
VITE_VIRTUAL_URL=
VITE_VIRTUAL_LEAGUES_URL=
VITE_KIRON_LITE_URL=
VITE_AFFILIATE_URL=
VITE_GENIUS_GAME_TRACKER_URL=
VITE_ONESIGNAL_APP_ID=
VITE_DEPOSIT_TAX=
VITE_WITHDRAW_TAX=
VITE_AVIATOR_GAME_ID=
VITE_AVIATRIX_GAME_ID=
VITE_FOOTBALLX_GAME_ID=
VITE_HAKI_LEAGUE_GAME_ID=
VITE_HAKI_TURBO_GAME_ID=
VITE_KIRON_JACKPOT_GAME_ID=
VITE_JETX_GAME_ID=
VITE_VIRTUAL_GAME_ID=
VITE_CRASH_ROYALE_GAME_ID=
VITE_VIRTUAL_SPIN_GAME_ID=
VITE_MAESTRO_GAME_ID=
VITE_PAYBILL_NO=
VITE_AFFILIATE_API_URL=
VITE_TENANT_CODE=
VITE_PROPELLER_AID=
VITE_PROPELLER_TID=
VITE_LIVE_POLL_INTERVAL=
VITE_USSD_ACTIVATE_ACCOUNT=
